{% extends 'base.html' %}

{% block content %}

<main class="container py-3 mb-5">
    <section class="row mb-4">
        <div class="container">
            <div class="card card-body col-lg-4 col-md-6 col-sm-10 m-auto mt-5">
                <div class="text-center">
                    <h2>¿Salir de Glossarick?</h2>
                    <div class="container">
                        <p class="largertxt">Siempre que quieras puedes regresar, ¡A Glossaryck le encanta ayudarte siempre!</p>
                    </div>
                    <div class="row">
                        <form method="POST" class="row m-auto">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Salir</button>
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary mt-2">Ir a inicio</a>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
</main>



{% endblock %}