body{
    padding-top: 110px;
}

footer{
    text-align: center;
    background-color: black;
    color: whitesmoke !important;
    
}


.bcolor{
    background-color: #f0f0f0;
    
}

.card1{
    margin-top: 30px;
    background: rgb(236,222,125);
    background: linear-gradient(0deg, rgba(236,222,125,1) 0%, rgba(255,247,194,1) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card2{
    margin-top: 30px;
    background: rgb(236,222,125);
    background: radial-gradient(circle, rgba(236,222,125,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 30px;
}

.card3{
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(90,157,209);
    background: linear-gradient(72deg, rgba(90,157,209,1) 0%, rgba(241,222,118,1) 100%);
    border-radius: 30px;
}


.card4{
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(234,91,221);
    background: linear-gradient(298deg, rgba(234,91,221,1) 0%, rgba(241,222,118,1) 100%);
    border-radius: 30px;
}

.card5{
    padding: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(85deg, rgba(255,255,255,1) 0%, rgba(248,223,57,1) 100%);
    border-radius: 30px;
}
.glosbg{
    background-image: url("/static/images/glossaryc3.png");
    background-repeat: no-repeat, no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: 25%;
    
}

.title{
    background: rgb(255,247,194);
    background: linear-gradient(0deg, rgba(255,247,194,1) 0%, rgba(255,252,231,1) 100%);
}

.largertxt{
    font-size: x-large;
}

.xlargertxt{
    font-size: xx-large;
}

.card3,.card4,.card5{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition:transform .2s;
}

.card3:hover,.card4:hover,.card5:hover{
    text-decoration: inherit;
    transform: scale(0.9);
}

.invisiblebtn{
    height: 0px;
    width: 0px;
    opacity: 0;
}





#navbar {
    padding: 1px 1px;
    transition: 0.3s; 
    width: 100%;
}

#navbar a,span {
    float: left;
    color: white;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
    border-radius: 4px;
}

#navbar #logo{
    height: auto;
    width: 70px;
    transition: 0.4s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}




#foot a{
    color: white;
}

#foot a:hover{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}

#newconcept{
    transition: 0.3s;
    
}


